

header, footer, main {
    display: flex;
    width: 700px;
    margin: 0 auto;
}


aside {
    background-color: white;
    width: 50px;
    height: auto;
    display: flex;
}

.middle {
    width: 650px;
    
}

header {
    background-color: blue;
    height: 80px;
}

main {
    background-color: yellow;
    height: 450px;
}

footer {
    background-color: green;
    height: 150px
}

h1, p {
    padding: 5px 0 0 5px;
    font-family: 'Cinzel', serif;
}

h1 {
    margin: 0;
}

p {
   margin: 0;
}

.fbox {
    margin: auto;
}

button {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgba(0,0,0,0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.right-arrow {
    background-image: url(ar.jpg);
}

.left-arrow {
    background-image: url(al.jpg);
}
