body {
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 402px;
  width: 1275px;
  margin: -10px auto 0 auto;
  background-position: center;
  background-size: contain;
  background-image: url("anakin.png");
  border-top: solid black 6px;
}

.header {
  font-family: "Abril Fatface", cursive;
  color: #222;
  font-weight: 300;
}

.hello {
  padding: 250px 0px 0px 290px;
  font-size: 35px;
}

.name {
  padding: 0px 0px 50px 290px;
  margin-top: -50px;
  font-size: 70px;
}

.cv-text {
  width: 700px;
  margin: 80px auto 0 auto;
  font-size: 21px;
  padding-bottom: 0px;
}

blockquote {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  font-weight: 300;
  color: white;
  text-align: left center;
  width: 780px;
  height: auto;
  padding: 50px 0px 50px 40px;
  margin: 80px auto 0 auto;
  background-color: rgb(68, 68, 68);
  background-image: url("quo.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 60px;
  }

.div-border {
  border-bottom: 4px solid black;
  font-weight: 400;
}

h5 {
  margin-top: -25px;
}

h3 {

  margin-top: -10px;
}

.smaller p, .smaller li {
  font-size: 17px;
}

li {
  list-style-type: square;
}
