
body {
  height: 100%;
  margin: 0;
  padding-left: 0;
  font-family: sans-serif;
}

    .outer {
      width: 100%;

      }

        aside {
          width: 175px;
          height: 100%;
          background-color: blue;
          float: left;
        }

            .as-inner {
              padding: 5px;
              width: 100%;
            }

                .logo {
                  width: 160px;
                }

        .right-col {
          float: right;
        }

            header {
              background-color: yellow;
            }

            main {
              background-color: grey;
            }
