.mutter {
  width: 540px;
  height: 670px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.one {
  width: 540px;
  height: 100px;
  background-color: #00E6FF;
  position: fixed;

}

.box {
  height: 600px;
  min-width: 100px;
}

.two {
  background-color: #FEA500;
  flex-grow: 1;
}

.three {
  background-color: #FE0000;
  flex-grow: 22;
  margin: 0 15px 0 15px;
}

.four {
  background-color: #81007F;
  flex-grow: 1;
}

.five {
  background-color: #0000FE;
  position: fixed;
  width: 540px;
  height: 100px;
  margin-top: 600px;
  margin-left: -540px;
}

.six {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
  margin-top: 530px;
  margin-left: -195px;
}
