body {
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 673px;
  width: 1224px;
  margin: -40px auto 0px auto;
  background-position: center;
  background-size: contain;
  background-image: url("attila.jpg");
}

.header {
  font-family: "Abril Fatface", cursive;
  color: white;
  font-weight: 300;
}

.hello {
  padding: 500px 0px 0px 290px;
  font-size: 35px;
}

.name {
  padding: 0px 0px 50px 290px;
  margin-top: -50px;
  font-size: 70px;
}

.cv-text {
  width: 700px;
  margin: 80px auto 0 auto;
  font-size: 21px;
}

blockquote {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  font-weight: 300;
  color: white;
  text-align: left center;
  width: 780px;
  height: auto;
  padding: 50px 0px 50px 40px;
  margin: 80px auto 0 auto;
  background-color: rgb(73, 57, 44);
  background-image: url("quo.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 60px;
  }

.div-border {
  border-bottom: 4px solid black;
  font-weight: 400;
}

h5 {
  margin-top: -25px;
}

.smaller p, .smaller li {
  font-size: 17px;
}

li {
  list-style-type: square;
}
